.ipynb*
*backup*.jl
Lecture-AstrostatisticsFuture/*
Lecture-SpectralAnalysis/*
ScienceCase-FRBs/*
Lecture-GaussianProcesses/*
Lecture-StatisticsReminder/*
ScienceCase-GRBs/*
Lecture-TimeDomainAnalysis/*
ScienceCase-SunspotNumber/*
Lecture-Lomb-Scargle/*
Lecture-TimeofArrival/*
ScienceCase-VariableStars/*
Lecture-NonParametricAnalysis/*
Lecture-WaveletAnalysis/*
ScienceCase-X-RayBinaries/*
Lecture-SingularSpectrumAnalysis/*
ScienceCase-AGNandBlazars/*